#wrapper {
    width: 1000px;
    position:relative;
}
#query {
	top:0;
    width:500px;
}
#cart {
    position:absolute;
    top:0;
    left:500px;
    right:0;
}

#results {
	position: absolute;
	top: 200px;
	width: 400px;
}

#search{
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 11;
    background: transparent;
    
}
#autocomplete{
    position: absolute;    
    top: 52px;
    left: 1px; 
    background: transparent;
    z-index: 10;
    border: 0px;
}

#items td, #items th {
    border: 1px solid #ddd;
    padding: 4px;
}

#items tr:nth-child(even){background-color: #f2f2f2;}
